@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("./animation.css");
@import url("./layers.css");
@import url("./mediaQueries.css");

:root {
  --main-bg-color: #241e4a;
  --violet: #510130;
  --light-violet: #7f0133;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  cursor: none;
  background-color: var(--main-bg-color);
}
.visuallyHidden {
  display: none;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.spinner {
  border: 10px solid var(--light-violet);
  border-top: 10px solid var(--violet);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
.show-cursor {
  pointer-events: all;
  cursor: auto;
}
.no-click {
  pointer-events: none;
}
.no-click-container {
  pointer-events: none;
}
.character {
  position: absolute;
  left: -1vw;
  bottom: 35vh;
  z-index: -2;
  border: none;
  height: 30vh;
  width: 30vw;
}
.eyeContainer {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  animation: fadeIn 0.3s 11.5s ease-out forwards;
}
.bgContainer {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  animation: slideIn 2.8s 7s ease-out forwards;
}
.bgContainer::after {
  content: "";
  position: absolute;
  background-color: var(--violet);
  width: 70vw;
  height: 41vh;
  border-radius: 0 100% 0 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.eye {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  position: fixed;
  top: 40.8%;
  left: 14.5%;
}
.pupil {
  width: 1.5vh;
  height: 1.5vh;
  background-color: var(--violet);
  border-radius: 50%;
  position: fixed;
  top: 42.5%;
  left: 15.3%;
}
#canvasContainer {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  position: relative;
}
.animation {
  position: absolute;
  pointer-events: none;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
