@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("./animation.css");
@import url("./layers.css");

:root {
  --main-bg-color: #241e4a;
  --violet: #510130;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color);
  height: 100vh;
  overflow: hidden;
  cursor: none;
}
.show-cursor {
  pointer-events: all;
  cursor: auto;
}
.no-click {
  pointer-events: none;
}
.character {
  position: absolute;
  left: -1vw;
  bottom: 35vh;
  z-index: -2;
  border: none;
  height: 30vh;
  width: 30vw;
}
.eyeContainer {
  position: absolute;
  display: flex;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  animation: fadeIn 0.3s 11.5s forwards;
}
.eye {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  position: fixed;
  top: 53.8%;
  left: 14.5%;
}
.pupil {
  width: 1.5vh;
  height: 1.5vh;
  background-color: var(--violet);
  border-radius: 50%;
  position: fixed;
  top: 56%;
  left: 15.3%;
}
